@font-face {
    font-family: 'Amsterdam Four';
    src: url(./assets/Amsterdam\ Four_ttf\ 400.ttf);
    font-weight: 100;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: rgb(248, 193, 255);
    justify-content: center;
    align-items: center;
}

h1::before, h1::after{
    content: '';
    width: 20vw;
    height: 2px;
    display: inline-flex;
    transform: translateY(-350%);
    background-color: black;
    margin: 0 10px 0 10px;
}

.container{
    border-radius: 10px;
    padding:  15px;
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: rgba(83, 26, 143, 0.38);
}

.container iframe{
    margin: 0;
    padding: 0;
    justify-self: center;
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 4;
}