body{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background-color: rgb(248, 193, 255);
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 10px;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    background-color: rgba(83, 26, 143, 0.38);
}